
body {
	background-color: #2C343B;
}
.main{
	padding-top: 200px;
}
h1 {
	color: #52616D;
	font-weight: 100;
}

.score {
	color: #52616D;
}

div.header {
	min-height: 200px;
}
.floater {
	background-color: #E5E1D1;
	position: fixed;
	min-height: 50px;
	width:100%;
	padding:0px;
	top: 0px;
}
.content {
	margin-top: -35px;
}

.score-display {
	color: #C44741;
	size: 9em;
}